################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core/DingWatGeldMaak.Core/bin/Debug
/Core/DingWatGeldMaak.Core/obj
/Modules/DingWatGeldMaak.FOREX/bin/Debug
/Modules/DingWatGeldMaak.FOREX/obj
/Tests/DingWatGeldMaak.Tests.ConsoleApp/bin/Debug
/Tests/DingWatGeldMaak.Tests.ConsoleApp/obj/Debug
/Core/DingWatGeldMaak.WindowsService/bin/Debug
/Core/DingWatGeldMaak.WindowsService/obj/Debug
/packages
