<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service_Description" value="MrBotez wrote a windows service for his DingWatGeldMaak solution"/>
    <add key="Service_DisplayName" value="DingWatGeldMaak Windows Service"/>
    <add key="Service_ServiceName" value="DingWatGeldMaakWindowsService"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <configSections>
    <sectionGroup name="forexModules">
      <section name="forexModule" type="DingWatGeldMaak.FOREX.Configuration.ForexModulesConfigurationSection" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <forexModules>
    <forexModule name="" type="">
      <dataProviders>
        <dataProvider name="GBPUSD_M10" symbol="GBPUSD" timeframe="M10" interval="1000" />
        <dataProvider name="GBPUSD_M15" symbol="GBPUSD" timeframe="M15" interval="1000" />
        <dataProvider name="GBPUSD_M20" symbol="GBPUSD" timeframe="M20" interval="1000" />
        <dataProvider name="GBPUSD_M30" symbol="GBPUSD" timeframe="M30" interval="1000" />
        <dataProvider name="GBPUSD_H01" symbol="GBPUSD" timeframe="H01" interval="1000" />
      </dataProviders>
      <strategies>
        <strategy name="" type="">
          <dataProviders>
            <dataProvider name="GBPUSD_M10" />
            <dataProvider name="GBPUSD_M15" />
            <dataProvider name="GBPUSD_M20" />
            <dataProvider name="GBPUSD_M30" />
            <dataProvider name="GBPUSD_H01" />
          </dataProviders>
        </strategy>
      </strategies>
    </forexModule>
  </forexModules>
</configuration>
