<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service_Description" value="MrBotez wrote a windows service for his DingWatGeldMaak solution"/>
    <add key="Service_DisplayName" value="DingWatGeldMaak Windows Service"/>
    <add key="Service_ServiceName" value="DingWatGeldMaakWindowsService"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
